.profil-page {
    display: flex;
    background-color: $Gris;
    flex-direction: column;
    font-weight: bold;

    .log-container {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
    }

    img,
    .img-container {
        width: 250px;
        height: auto;
    }

    .connection-form {
        border-radius: 5px;
        background-color: $Rose;
        display: flex;

        ul {
            list-style-type: none;
        }

        li {
            text-align: center;
            cursor: pointer;
            border-radius: 20px;
            padding: 12px 14px;
            transition: .2s;
            margin: 0 8px;
        }
    }

}