.profil-page {
    display: flex;
    flex-direction: column;
    font-weight: bold;

    .log-container {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
    }

    img,
    .img-container {
        width: 250px;
        height: auto;
    }

    .connection-form {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-color: $Rose;
        display: flex;
        width: 100%;
        padding: 50px;
        margin: 20px;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            margin-bottom: 25px;
            margin-right: 42px;
        }

        li {
            text-align: center;
            cursor: pointer;
            border-radius: 20px;
            padding: 12px 14px;
            transition: .3s;
            margin-top: 5px;
            margin: 8px;
        }
    }

    #signup-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .messError {
            margin-top: -20px;
            color: $Red;
        }
    }

    .sign {
        margin-bottom: 45px;
        border-radius: 20px;
        padding: 12px 40px;
        border: 2px solid $Gris;
    }
}